body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(134, 150, 53, 0.08);
  color: #2e4966;
}

#app-container {
  display: flex;
  flex-direction: column;
}
